@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-wrap: wrap;
    font-family: 'Outfit', sans-serif;

    color: black;
}

a{
    text-decoration: underline;
}

body{
    height: 100%;
    padding: 1em 2em;
    background-color: rgb(250, 255, 217);
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logo-img{
    image-rendering: pixelated;
}

.logo h2{
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    
    list-style: none;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-top: 1em;
    margin-bottom: 1em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-content: space-evenly;
}

section{
    padding: 1em;
    margin: 0 8px;
    outline: solid 2px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    background-color: white;
}

footer{
    display: flex;
    justify-content: center;
}

h1 {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
}

section.reviews ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 1em 0;

        list-style: none;
        padding: 1em;
        outline: solid 2px;
        border-radius: 8px;

        background-color: rgb(241, 241, 241);
    }
}

section.contact-form form{
    display: flex;
    flex-direction: column;
    
    #message{
        resize: none;
    }

    button{
        background-color: rgb(0, 255, 0);
        border: solid 2px black;
    }
}

.inputfield{
    border: solid 2px;
    border-radius: 4px;
}

@media (max-width: 1060px){
    header{
        flex-direction: column;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 920px){
    section.reviews ul{
        flex-direction: column;
    }
}

@media (max-width: 520px){
    nav ul{
        flex-direction: column;
    }
}